
services:

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - web

  backend:
    build: ./backend
    expose:
      - "3000"
    # ports:
    #   - "3000:3000"
    restart: unless-stopped
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    networks:
      - web

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
      - "443:443"
    depends_on:
      - backend
    networks:
      - web

  redis:
    image: redis:7
    expose:
      - "6379"
    networks:
      - web

networks:
  web:
    driver: bridge
