
services:

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/nginx/certs:/etc/nginx/certs:ro
      - ./frontend/dist:/usr/share/nginx/html:ro
    build: 
     context: ./frontend 
    depends_on:
      - backend
    networks:
      - web
  
  

  backend:
    build: ./backend
    expose:
      - "3000"
    # ports:
    #   - "3000:3000"
    restart: unless-stopped
    environment:
      - DB_ADDR=redis:6379
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    networks:
      - web


  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    expose:
      - "6379"
    networks:
      - web

  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: blendify_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  redis_data:
  postgres_data:

networks:
  web:
    driver: bridge
