
services:

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - web

  backend:
    build: ./backend
    expose:
      - "3000"
    # ports:
    #   - "3000:3000"
    restart: unless-stopped
    environment:
      - DB_ADDR=redis:6379
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    networks:
      - web

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
      - "443:443"
    depends_on:
      - backend
    networks:
      - web

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    expose:
      - "6379"
    networks:
      - web
volumes:
  redis_data:

networks:
  web:
    driver: bridge
