version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - redis

  frontend:
    build: ./frontend
    depends_on:
      - backend

  redis:
    image: redis:7

  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
