
@import "tailwindcss";

@font-face {
  font-family: 'Transcity'; /* Name you'll use in Tailwind config */
  src: url('/public/fonts/Transcity.otf') format('opentype'); /* Adjust path and format as needed */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by showing fallback text first */
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Log in to start merging your music */
.log-in-to-0c94be86b263 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}
.log-in-to-0c94be86b263 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.log-in-to-0c94be86b263 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.log-in-to-0c94be86b263 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 0.5;
  margin: 0;
  text-align: left;
}
.log-in-to-0c94be86b263 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(135, 135, 135, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 36px;
  text-rendering: geometricPrecision;
  caret-color: rgba(135, 135, 135, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-family: 'Transcity';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  font-size: 8em;
  line-height: 1.1;
}

btn-spotify{
  background-clip:padding-box;
}

title {
  font-family: 'Transcity';
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

button {
  background-clip:padding-box;

  border-radius: 0px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
