@import "tailwindcss";

/* .Dropdownbutton {
    outline: 2px solid black;
    color: #000;
    font-family: "Roboto Mono";
    background: #FFF;
    aspect-ratio: 1 / 1;
    font-size: 0.8rem ;
    min-height: inherit;
    width: 4rem;
    margin: 10px 10px;
    
} */

.Dropdownmenu {
  outline: 2px solid black;
  background-color: #fff;
  width: 80%;
  justify-self: center;
  justify-content: space-between;
  text-align: center;
}
/* Dropdownbutton my-1 mx-1 size-10 min-h-7 flex bg-white */
