@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

@font-face {
  font-family: "Filepile";
  src: url("/fonts/filepile.regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
