@import "tailwindcss";

.shine-element {
  overflow: hidden; /* Keeps the shine inside the element bounds */
}

.slate-bg {
  background-color: #fff;
}

.home-slate-button {
  background-color: #d84727;
  color: #f6e8cb;
  text-shadow: #00000080 2px 1px;
}

.home-slate-button:hover {
  background-color: #ef966c;
}

.home-slate-button:active {
  background-color: #d84727;
}

.shine-element::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Gradient: transparent -> white (at 50%) -> transparent */
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%); /* Start off-screen to the left */
  animation: shine 3s infinite; /* Animate the shine */
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  } /* Move across to the right */
}
