@import "tailwindcss";

.login h1 {
  font-family: "Magnolia Script";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  color: black;
  font-size: clamp(4rem, 9vw, 7rem);
  line-height: 1.1;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.5;
}

.subheading {
  font-family: "Roboto Mono", "monospace";
  src: url("/public/fonts/RobotoMono-Medium.ttf") format("truetype");
}
